
.baner_carousel {
  display: flex;
  padding: 0;
  margin: 5px;
}
.border_carousel {
  overflow: hidden;
  width: 74.4%;
  max-height: 400px;
  border-radius: 4px;
}
.body_carousel {
  max-height: 400px;
}
.baner {
  width: 22.7%;
  height: 397px;
  margin-left: 4%;
}