.container {
    max-width: 1171px;
    margin: 5px auto;
}
.menu {
    justify-content: space-between;
    align-items: center;
}
.catalog {
    height: 53px;
    background-color: #f0f0f4;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}
