.baner_carusel {
  display: flex;
  max-width: 1171px;
  margin: 5px auto;
}
.body_carusel {
  max-width: 800px;
  max-height: 400px;
}
.baner {
  width: 265px;
  height: 397px;
  background-color: bisque;
  margin-left: 36px;
}