.conteiner {
  width: 100%;
  display: flex;
}

.wrapper {
  height: 395px;
  width: 95%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slide_set {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
}

.slide_1,
.slide_2,
.slide_3,
.slide_4,
.slide_5,
.slide_6,
.slide_7,
.slide_8 {
  height: 390px;
  width: 290px;
  margin: 4px 12px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: blanchedalmond;
}

.next_btn,
.prev_btn {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  align-items: center;
}

svg {
  fill: #000;
  height: 30px;
  width: 30px;
}