.mySwiper {
    width: 100%;
    height: 390px;
    min-width: 0;
}

.swiper-slide {
    display: flex;
    width: 395px;
    height: 230px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    margin: 15px 10px;
    object-fit: cover;
}

.images {
    display: flex;
    flex: 0 0 auto;
    text-align: center;
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
    min-width: 0;
}
