.body_card_item {
  display: flex;
  max-width: 370px;
  background-color: #fff;
  height: 129px;
  padding-top: 25px;
  border: 1px solid rgb(244, 240, 240);
  border-radius: 4px;
  justify-content: space-around;
}
.text_title {
  display: flex;
  height: 100%;
  padding-bottom: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}